body{
    background-color: rgb(90, 89, 89);
}

.yazanh{
    text-align: center;
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
    background-color: rgb(71, 71, 71);
    box-shadow: black 1px 0px 7px;
    margin-top: 0px;
    padding-top: 5px;
    border-radius: 15px;

}

.yazanh h2, h4{
    text-align: center;
    padding: 0;
    margin-top: 2px;
    color: rgb(0, 0, 0);
    text-shadow: rgb(29, 29, 29) 1px 0px 10px;
    font-weight: bold;
    font-style: italic;
}

.yazanh h4{
    margin-top: -10px;
}

.sections details{
    margin-top: -18px;
    background-color: rgb(71, 71, 71);
    text-shadow: rgb(29, 29, 29) 1px 0px 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 2000px;
    text-align: center;
}

.sections summary{
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    border-radius: 15px;
    color: white;
}

.sections button{
    font: bold;
    background-color: rgb(255, 196, 0);
    font-size: 20px;
    border-radius: 8px;
    color: black;
     font-weight: bold;
    font-style: italic;
}



/*Final Stand CSS HERE DOWN*/

